* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  flex: auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.menu-container {
  color: #fff;
  background-color: #2b2c30;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  /*border: 1px solid #fff;  !* For debugging *!*/
  width: 900px;
  display: flex;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;
}

.links {
  /*border: 1px solid #fff;  !* For debugging *!*/
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #2b2c30;
  height: 80px;
}

.header {
  background-color: #B2D6FF;
}

.content {
  background-color: #EAEDF0;
  height: 600px;
}

.sign-up {
  background-color: #D6E9FE;
}

.feature-1 .container{
  background-color: #F5CF8E;
}

.feature-2 .container{
  background-color: #F09A9D;
}

.feature-3 .container {
  background-color: #C8C6FA;
}

/* Mobile Styles */
@media only screen and (max-width: 501px) {
  body {
    background-color: #dee2ff; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 502px) and (max-width: 960px) {
  body {
    background-color: #dee2ff; /* Blue */
  }
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #dee2ff; /* Blue */
  }

  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 600px;
  }

  .sign-up {
    height: 200px;
    order: 1;
  }
  .content {
    order: 2;
  }
}